boto3==1.14.48
botocore==1.17.48
certifi==2024.7.4
cfnresponse==1.1.2
chardet==3.0.4
docutils==0.15
idna==3.7
jmespath==0.10.0
python-dateutil==2.8.1
requests==2.32.4
s3transfer==0.3.3
six==1.15.0
urllib3==1.26.19
